
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Saira+Condensed:wght@100;400&display=swap');

/*ESTRUTURA DO SITE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    background: rgb(246, 205, 129);
    font-size: 15px;
}
#principal{
    max-width: auto;
    display:flex;
    flex-direction: column;
    
}

#principal p {
    background:white;

    max-width: 700px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    border: 3px solid black;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

/*CONTEÚDO PÁGINA 1*/
#conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: auto;
}

#conteudo h1 {
    text-align: center;
    margin: 40px;
    font-size: 50px;
    color: white;
}

/*CONTEÚDO PÁGINA 2*/
#conteudo2 h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    color: white;
}

#conteudo2 img {
    display: block;
    margin: auto;
    padding: 20px;
}

/* *** MENU  *** */
#menu{
    background:url(/imagens/fundo.png);
    height: 100px;   
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul {
    margin-top: 10px;
    float: left;
    
}

#menu ul li {
    float: left;
}

#menu ul a{
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#menu  a:hover {
    color: rgb(231, 231, 63);
}

/*AJUSTE DAS IMAGENS*/

.ajuste-img{
    display: block;
    margin: auto;
    padding: 20px;
}


h2{
    color: rgb(90, 89, 89);
    padding: 10px;
}
iframe{
    border: 5px solid black;
    align-items: center;
    margin: auto;
}
figcaption {
    color: black;
    font: italic smaller sans-serif;
    padding-bottom: 20px;
    text-align: center;
} 

/*LISTA DE RESUMO*/
#lista-resumo{
    background: white ;
    max-width: 700px;
    display: block;
    margin: auto;
    padding: 20px 20px;
}

#lista-resumo h1 {
    text-align: center;
    padding: 10px 10px ;
}

#lista-resumo ul li {
    padding: 10px 10px;
}

/*REFERÊNCIAS*/

#conteudo-referencia h1 {
    padding: 40px;
}

#conteudo-referencia ol li {
    padding-left: 25px;
    padding: 10px;
}

#conteudo-referencia a {
    text-decoration: none;
    color: orangered;
}

#conteudo-referencia a:hover {
    color: white;
}

/*AJUSTES BOTÃO*/

#button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:25px;
}
button { 
    width: 45%;
    height: 55px;
    display: flex;
    color: rgb(245, 187, 79);
    background: rgb(107, 107, 107);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}

#video-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 25px;
}






